@using DaisyPets.Core.Application.Formatting;
@using DaisyPets.Core.Application.TodoManager;
@using DaisyPets.Core.Application.ViewModels;
@using DaisyPets.Core.Application.ViewModels.LookupTables;
@using Microsoft.Extensions.Localization;
@using static DaisyPets.Core.Application.Enums.Common;

<div class="container-fluid d-md-flex flex-column">
    <div>
        <HeaderDialogComponent HeaderCaption="@HeaderCaption" ImageName="tasks"></HeaderDialogComponent>
    </div>
    <EditForm Model="UserSelectedRecord">
        <div class="form-group my-2">
            <SfCheckBox Label="@L["TituloPendente"]" @bind-Checked=@pendente @onchange="onChangePendente"></SfCheckBox>
        </div>
        <div class="group-box mt-2">
            <SfDatePicker Placeholder="@L["TituloDataInicio"]"
                          CssClass="e-align-middle e-corner"
                          Width="150px"
                          FloatLabelType="FloatLabelType.Always"
            @bind-Value="@dStart">
                <DatePickerEvents TValue="DateTime" ValueChange="DataInicioChanged" />
            </SfDatePicker>
        </div>

        <div class="group-box mt-2">
            <SfDatePicker Placeholder="@L["TituloDataFim"]"
                          CssClass="e-align-middle e-corner"
                          Width="150px"
                          FloatLabelType="FloatLabelType.Always"
            @bind-Value="@dEnd">
                <DatePickerEvents TValue="DateTime" ValueChange="DataFimChanged" />
            </SfDatePicker>
        </div>

        <div class="row mt-2">
            <div class="form-group">
                <SfTextBox Enabled="true"
                    Multiline = "true"
                    HtmlAttributes="TodoDescriptionRows"
                           Placeholder="@L["rbtDescricao"]"
                           CssClass="e-field  e-corner"
                           FloatLabelType="@FloatLabelType.Always"
                @bind-Value="@UserSelectedRecord!.Description">
                </SfTextBox>
            </div>
        </div>
        <div class="group-box mb-2">
            <SfDropDownList TValue="int" TItem="LookupTableVM" AllowFiltering="true" CssClass="e-dropdown-popup ml-5"
                            Value="@idxCategory" ShowClearButton="true" Width="250px"
                            FilterBarPlaceholder="@L["TituloSelecao"]" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                            Placeholder="@L["TituloCategoria"]" DataSource="@ToDoCategories" FloatLabelType="FloatLabelType.Always">
                <DropDownListTemplates TItem="LookupTableVM">
                </DropDownListTemplates>
                <DropDownListEvents TValue="int" TItem="LookupTableVM" ValueChange="onChangeCategory"></DropDownListEvents>
                <DropDownListFieldSettings Value="Id" Text="Descricao"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </EditForm>
</div>

@code{
    protected Dictionary<string, object> TodoDescriptionRows = new Dictionary<string, object>()
    {
            {"rows", "4" }
    };

}
