@page "/petsmainpage"

@inherits PetsMainPageBase

@using DaisyPets.Core.Application.ViewModels;
@using DaisyPets.Web.Blazor.Pages.CodeBehind.Pets;
@using Microsoft.Extensions.Localization
@using Syncfusion.Blazor.Grids
@using static DaisyPets.Core.Application.Enums.Common;

@inject IConfiguration config

<PageTitle>Daisy Pets</PageTitle>
<PageTitleComponent PageTitle="@L["Pet_Title"]"/>
@{
    var Tool = (new List<object>() {
        "Search",
        "PdfExport",
            new ItemModel()
    {
        Type = ItemType.Separator
    },
     new ItemModel()
     {
         Text = "Expand all",
         TooltipText = "Expand all",
         PrefixIcon = "e-expand"
     },
     new ItemModel()
     {
         Text = "Collapse all",
         TooltipText = "Collapse all",
         PrefixIcon = "e-collapse"
     },
    });
}

@if (Pets is null)
{
    <LoadingData />
}
else
{
    <div class="source-options my-2">
        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                @onclick="@onAddPet" IsPrimary="true">
        </SfButton>
    </div>

    <div class="table table-striped table-hover">
        <SfGrid ID="Pets_Grid"
                Width="100%" @ref="petsGridObj"
                Toolbar="@Tool"
                Height="100%"
                EnableStickyHeader="true"
                EnableAltRow="true"
                EnableHover="true"
                DataSource="@Pets"
                AllowFiltering="false"
                AllowSelection="true"
                AllowGrouping="false"
                AllowPaging="true"
                AllowSorting="true"
                AllowPdfExport="true"
                RowHeight="32"
                AllowTextWrap="true">
            <GridEvents RowSelected="RowSelectHandler"
                        OnToolbarClick="ToolbarClickHandler"
                        CommandClicked="OnPetCommandClicked" TValue="PetVM">
            </GridEvents>

            <GridTemplates>
                <DetailTemplate>
                    <SfTab CssClass="e-outline e-info e-round-corner py-3" HeaderPlacement="HeaderPosition.Top">
                        <TabItems>
                            @*Documentos*@
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="@L["Pet_Vaccines"]"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="source-options my-2">
                                        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                                        @onclick="@onAddVaccine" IsPrimary="true">
                                        </SfButton>
                                    </div>

                                    @{
                                        PetId = (context as PetVM)!.Id;
                                        var petVaccinesHistory = GetPetVaccinesHistory(PetId);
                                    }
                                    <SfGrid TValue="VacinaVM"
                                            DataSource="petVaccinesHistory"
                                            AllowFiltering="false"
                                            AllowGrouping="false"
                                            Width="60%" EnableAltRow="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            RowHeight="32"
                                            AllowTextWrap="true">
                                        <GridPageSettings PageSize="12" PageCount="12" PageSizes="true"></GridPageSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(VacinaVM.Id) IsPrimaryKey="true" Visible="false" HeaderText="ID#" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(VacinaVM.DataToma) Format="d" HeaderText="@L["Pet_Vaccine_Date"]" Width="110"></GridColumn>
                                            <GridColumn Field=@nameof(VacinaVM.Marca) HeaderText="@L["Pet_Vaccine_Brand"]" Width="200"></GridColumn>
                                            <GridColumn Field=@nameof(VacinaVM.DataProximaToma) Format="d" HeaderText="@L["Pet_Vaccine_Next"]" Width="110"></GridColumn>
                                            <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                                                <GridCommandColumns>
                                                    <GridCommandColumn Type=CommandButtonType.Edit
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.Delete
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                                                    </GridCommandColumn>
                                                </GridCommandColumns>
                                            </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="@L["Pet_Consultations"]"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="source-options my-2">
                                        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                                        @onclick="@onAddConsultation" IsPrimary="true">
                                        </SfButton>
                                    </div>

                                    @{
                                        PetId = (context as PetVM)!.Id;
                                        var petConsultationsHistory = GetPetConsultationsHistory(PetId);
                                    }
                                    <SfGrid TValue="ConsultaVeterinarioVM"
                                            DataSource="petConsultationsHistory"
                                            AllowFiltering="false"
                                            AllowGrouping="false"
                                            Width="100%" EnableAltRow="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            RowHeight="32"
                                            AllowTextWrap="true">
                                        <GridPageSettings PageSize="12" PageCount="12" PageSizes="true"></GridPageSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ConsultaVeterinarioVM.Id) IsPrimaryKey="true" Visible="false" HeaderText="ID#" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(ConsultaVeterinarioVM.DataConsulta) HeaderText="@L["TituloData"]" Format="d" Width="90"></GridColumn>
                                            <GridColumn Field=@nameof(ConsultaVeterinarioVM.Motivo) HeaderText="@L["TituloMotivo"]" Width="300"></GridColumn>
                                            <GridColumn Field=@nameof(ConsultaVeterinarioVM.Diagnostico) HeaderText="@L["TituloDiagnostico"]" Width="350"></GridColumn>
                                            <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                                                <GridCommandColumns>
                                                    <GridCommandColumn Type=CommandButtonType.Edit
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.Delete
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                                                    </GridCommandColumn>
                                                </GridCommandColumns>
                                            </GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="@L["Pet_Food"]"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="source-options my-2">
                                        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                                        @onclick="@onAddPetFood" IsPrimary="true">
                                        </SfButton>
                                    </div>

                                    @{
                                        PetId = (context as PetVM)!.Id;
                                        var petFoodHistory = GetPetFoodHistory(PetId);
                                    }
                                    <SfGrid TValue="RacaoVM"
                                            DataSource="petFoodHistory"
                                            AllowFiltering="false"
                                            AllowGrouping="false"
                                            Width="60%" EnableAltRow="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            RowHeight="32"
                                            AllowTextWrap="true">
                                        <GridPageSettings PageSize="12" PageCount="12" PageSizes="true"></GridPageSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(RacaoVM.Id) IsPrimaryKey="true" Visible="false" HeaderText="ID#" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(RacaoVM.DataCompra) HeaderText="@L["TituloData"]" Format="d" Width="90"></GridColumn>
                                            <GridColumn Field=@nameof(RacaoVM.Marca) HeaderText="@L["TituloMarca"]" Width="200"></GridColumn>
                                            <GridColumn Field=@nameof(RacaoVM.QuantidadeDiaria) HeaderText="@L["TituloQtdDiaria"]" Width="100" TextAlign="TextAlign.Center"></GridColumn>
                                            <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                                                <GridCommandColumns>
                                                    <GridCommandColumn Type=CommandButtonType.Edit
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.Delete
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                                                    </GridCommandColumn>
                                                </GridCommandColumns>
                                            </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="@L["Pet_Dewormers"]"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="source-options my-2">
                                        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                                        @onclick="@onAddDewormer" IsPrimary="true">
                                        </SfButton>
                                    </div>

                                    @{
                                        PetId = (context as PetVM)!.Id;
                                        var petDewormersHistory = GetPetDewormersHistory(PetId);
                                    }
                                    <SfGrid TValue="DesparasitanteVM"
                                            DataSource="petDewormersHistory"
                                            AllowFiltering="false"
                                            AllowGrouping="false"
                                            Width="80%" EnableAltRow="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            RowHeight="32"
                                            AllowTextWrap="true">
                                        <GridPageSettings PageSize="12" PageCount="12" PageSizes="true"></GridPageSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(DesparasitanteVM.Id) IsPrimaryKey="true" Visible="false" HeaderText="ID#" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(DesparasitanteVM.Tipo) HeaderText="@L["TituloTipo"]" Width="90" TextAlign="TextAlign.Center"></GridColumn>
                                            <GridColumn Field=@nameof(DesparasitanteVM.Marca) HeaderText="@L["TituloMarca"]" Width="200"></GridColumn>
                                            <GridColumn Field=@nameof(DesparasitanteVM.DataAplicacao) HeaderText="@L["TituloData"]" Format="d" Width="100" TextAlign="TextAlign.Center"></GridColumn>
                                            <GridColumn Field=@nameof(DesparasitanteVM.DataProximaAplicacao) HeaderText="@L["Pet_Vaccine_Next"]" Format="d" Width="100" TextAlign="TextAlign.Center"></GridColumn>
                                            <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                                                <GridCommandColumns>
                                                    <GridCommandColumn Type=CommandButtonType.Edit
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.Delete
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                                                    </GridCommandColumn>
                                                </GridCommandColumns>
                                            </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="@L["Pet_Documents"]"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="source-options my-2">
                                        <SfButton CssClass="e-success e-round-corner" IconCss="fa fa-plus" Content="@(L["btnNovo"])"
                                        @onclick="@onAddDocument" IsPrimary="true">
                                        </SfButton>
                                    </div>

                                    @{
                                        PetId = (context as PetVM)!.Id;
                                        var petDocumentsHistory = GetPetDocumentsHistory(PetId);
                                    }
                                    <SfGrid TValue="DocumentoVM"
                                            DataSource="petDocumentsHistory"
                                            AllowFiltering="false"
                                            AllowGrouping="false"
                                            Width="100%" EnableAltRow="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            RowHeight="32"
                                            AllowTextWrap="true">
                                        <GridPageSettings PageSize="12" PageCount="12" PageSizes="true"></GridPageSettings>
                                        <GridEvents CommandClicked="OnPetDocumentCommandClicked"
                                                    TValue="DocumentoVM" />

                                        <GridColumns>
                                            <GridColumn Field=@nameof(DocumentoVM.CreatedOn) HeaderText="@L["TituloData"]" Format="d" TextAlign="TextAlign.Center" Width="90"></GridColumn>
                                            <GridColumn Field=@nameof(DocumentoVM.Id) IsPrimaryKey="true" Visible="false" HeaderText="ID#" Width="80"></GridColumn>
                                            <GridColumn Field=@nameof(DocumentoVM.Title) HeaderText="@L["lblTitulo"]" Width="210"></GridColumn>
                                            <GridColumn Field=@nameof(DocumentoVM.Description) HeaderText="@L["rbtDescricao"]" Width="200"></GridColumn>
                                            <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                                                <GridCommandColumns>
                                                    <GridCommandColumn Type=CommandButtonType.Edit
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.None
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-success e-round",
                                                                           IconCss = "fa fa-file-pdf"
                                                                       })">
                                                    </GridCommandColumn>
                                                    <GridCommandColumn Type=CommandButtonType.Delete
                                                                       ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                                                    </GridCommandColumn>
                                                </GridCommandColumns>
                                            </GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </DetailTemplate>
            </GridTemplates>
            <GridColumns>

                @*                <GridColumn HeaderText="Foto" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120">

            <Template Context="petCtx">
            @{
            var cliente = (petCtx as PetVM);
            if (!string.IsNullOrEmpty(cliente?.Foto))
            {
            <div class="image">
            <img src="@cliente.Foto" />
            </div>
            }
            }
            </Template>
            </GridColumn>
            *@
                <GridColumn Field=@nameof(PetVM.Nome) HeaderText="Pet" Width="150"></GridColumn>
                <GridColumn Field=@nameof(PetVM.DataNascimento) Format="d" TextAlign="TextAlign.Center"
                            HeaderText="@L["TituloDtNascimento"]" Width="110"></GridColumn>
                <GridColumn Field=@nameof(PetVM.RacaAnimal) HeaderText="@L["Pet_Breed"]" Width="210"></GridColumn>
                <GridColumn Field=@nameof(PetVM.TamanhoAnimal) HeaderText="@L["Pet_Size"]" Width="110"></GridColumn>
                <GridColumn Field=@nameof(PetVM.Genero) HeaderText="@L["TituloSexo"]" TextAlign="TextAlign.Center" Width="90"></GridColumn>
                <GridColumn Field=@nameof(PetVM.SituacaoAnimal) HeaderText="@L["TituloSituacao"]" Width="170"></GridColumn>
                <GridColumn Field=@nameof(PetVM.Chipado) HeaderText="Chip"
                            TextAlign="TextAlign.Center" DisplayAsCheckBox="true" Width="90"></GridColumn>
                <GridColumn Field=@nameof(PetVM.Esterilizado)
                            TextAlign="TextAlign.Center" HeaderText="@L["Pet_Sterilised"]" DisplayAsCheckBox="true" Width="110"></GridColumn>
                <GridColumn HeaderText="" AllowFiltering="false" AllowSorting="false" Width="150">
                    <GridCommandColumns>
                        <GridCommandColumn Type=CommandButtonType.Edit
                                           ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-primary e-round",
                                                                           IconCss = "fa fa-edit"
                                                                       })">
                        </GridCommandColumn>
                        <GridCommandColumn Type=CommandButtonType.Delete
                                           ButtonOption="@(new CommandButtonOptions()
                                                                       {
                                                                           CssClass = "e-btn e-danger e-round",
                                                                           IconCss = "fa fa-trash"
                                                                       })">
                        </GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>

            </GridColumns>

        </SfGrid>
    </div>

    <SfDialog CssClass="responsive-dialog-40"
              IsModal="true"
              ShowCloseIcon="false"
              CloseOnEscape="false"
              @bind-Visible="AddEditPetVisibility">
        <DialogTemplates>
            <Content>
                <AddEditPet UserSelectedPet="@SelectedPet"
                            EditMode="@RecordMode"
                            HeaderCaption="@(RecordMode == OpcoesRegisto.Gravar? EditCaption : NewCaption)" />
            </Content>
            <FooterTemplate>
                <div>
                    <SfButton CssClass="e-primary e-round-corner" IconCss="fas fa-save"
                    @onclick="SavePetData" Content="@L["btnSalvar"]">
                    </SfButton>
                    <SfButton CssClass="e-outline e-round-corner" IconCss="fas fa-times"
                    @onclick="(()=>AddEditPetVisibility = false)" Content="@L["BtnSalir"]">
                    </SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
        <DialogAnimationSettings Effect="@Effect" Duration=500></DialogAnimationSettings>
    </SfDialog>

    <SfDialog CssClass="responsive-pdf-word-viewer"
              IsModal="true"
              ShowCloseIcon="false"
              CloseOnEscape="true"
    @bind-Visible="ShowFileVisibility">
        <DialogTemplates>
            <Header>
                <div class="modal-header">
                    <h5 class="modal-title">
                        @SelectedDocument!.Description
                    </h5>
                </div>
            </Header>
            <Content>
                @if (!string.IsNullOrEmpty(documentFilePath))
                {
                    <PdfViewer PdfPath="@documentFilePath" />
                }
            </Content>
            <FooterTemplate>
                <div>
                    <SfButton CssClass="e-outline e-round-corner"
                              IconCss="fas fa-times"
                    @onclick="(()=>ShowFileVisibility = false)" Content="@L["MSG_GoBack"]">
                    </SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
        <DialogAnimationSettings Effect="DialogEffect.FadeZoom" Duration=600></DialogAnimationSettings>
    </SfDialog>


    @*    <ValidateErrorComponent Visible="@ErrorVisibility" DialogTitle="@L["TituloDespesas"]"
                            ValidationMessages="@ValidationsMessages"
                            OnCloseDialog="@(()=>ErrorVisibility = false)" />
*@
    <ConfirmDeleteComponent AlertMessageType="AlertMessageType.Error" DialogWidth="20%"
                            DialogTitle="@WarningTitle" ConfirmationText="@L["MSG_ConfirmarOperacao"]"
                            Module="Modules.Pets"
                            Message="@SelectedPet?.Nome"
                            Visible="@DeletePetVisibility"
                            OnConfirmationYes="ConfirmDeleteYes"
                            OnConfirmationNo="@(()=>DeletePetVisibility=false)"></ConfirmDeleteComponent>

    <AlertUserComponent AlertMessageType="AlertMessageType.Warning"
                        Title="@alertTitle"
                        OperationType="OpcoesRegisto.Warning"
                        Visibility="@AlertVisibility"
                        Message="@WarningMessage"
                        OnCloseDialog="(()=>AlertVisibility=false)"></AlertUserComponent>

    <ValidateErrorComponent Visible="@ErrorVisibility"
                            ValidationMessages="@ValidationsMessages"
                            OnCloseDialog="@(()=>ErrorVisibility = false)" />


    <SfToast ID="toast_custom" @ref="ToastObj" ShowProgressBar=true
             Title="@ToastTitle" Icon="@ToastIcon"
             Content="@ToastMessage"
             CssClass="@ToastCss" Timeout="2000"
             ShowCloseButton="true">
        <ToastAnimationSettings>
            <ToastShowAnimationSettings Effect="ToastEffect.FadeIn" Duration="600"></ToastShowAnimationSettings>
            <ToastHideAnimationSettings Effect="ToastEffect.FadeOut" Duration="600"></ToastHideAnimationSettings>
        </ToastAnimationSettings>
        <ToastButtons>
            <ToastButton Content="@L["btnFechar"]" OnClick="@HideToast"></ToastButton>
        </ToastButtons>
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
}