@page "/article/{id:int}"

@using DaisyPets.Core.Application.ViewModels;
@using Microsoft.Extensions.Localization;
@using Syncfusion.Blazor.RichTextEditor

<div class="container" style="margin-bottom: 500px;">
    <div class="row">
        <div class="col-9">
            <img class="w-100" src="/uploads/Posts/@post.Image">

            <h1 class="postTitle">@post.Title</h1>
            <h3 class="postIntroduction">@post.Introduction</h3>

            @if (string.IsNullOrEmpty(post.PostUrl))
            {
                <div>
                    <div class=" mb-2 control-section" id="pageHeight">
                        <SfRichTextEditor EditorMode="EditorMode.HTML"
                                          EnableHtmlEncode="true" EnableHtmlSanitizer="true" Height="auto" Placeholder="Body Text" @bind-Value="post!.BodyText">
                            <RichTextEditorToolbarSettings Items="@ToolsForInline" />
                            <RichTextEditorInlineMode Enable="true" ShowOnSelection="true" />
                        </SfRichTextEditor>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-9 text-start">
                        <p class="mt-2 control-section">View blog in a new tab</p>
                        <p>
                            <a href="@post.PostUrl" target="_blank">@post.PostUrl</a>
                        </p>
                    </div>
                </div>
            }


            @*<p class="postBodyText">@bodyText</p>*@

            <hr />
            <div class="AddCommentContainer">
                <h3>Add Comment</h3>
                <EditForm Model="@commentModel" OnValidSubmit="@AddComment">
                    <InputTextArea class="inputTextArea" @bind-Value="@commentModel.CommentText" />

                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </EditForm>
            </div>
            <div class="comments">
                @foreach (var comment in Comments!)
                {
                    <div class="comment">
                        <h5><span>@comment.Created | </span>@comment?.BlogUser?.UserName</h5>
                        <p>@comment.CommentText</p>
                        <hr />
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>


</div>


@code {

    private List<ToolbarItemModel> ToolsForInline = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.Formats },
        new ToolbarItemModel() { Command = ToolbarCommand.HorizontalSeparator },
        new ToolbarItemModel() { Command = ToolbarCommand.Alignments },
        new ToolbarItemModel() { Command = ToolbarCommand.OrderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.UnorderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateLink }
    };

    [Inject] IConfiguration? config { get; set; }
    [Inject] HttpClient httpClient { get; set; }
    [Inject] public IStringLocalizer<App>? L { get; set; }
    [Inject] ILogger<App>? logger { get; set; } = null;


    [Parameter] public int Id { get; set; }
    protected PostDto? post { get; set; } = new();
    protected CommentDto commentModel = new CommentDto();
    protected IEnumerable<CommentDto> Comments = Enumerable.Empty<CommentDto>();

    protected string? urlBaseAddress;
    protected string? postsEndpoint;
    protected MarkupString bodyText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        urlBaseAddress = config?["ApiSettings:UrlBase"];
        postsEndpoint = $"{urlBaseAddress}/Posts";

        post = await GetPostById();
        bodyText = new MarkupString(post.BodyText);
        Comments = await GetPostComents();

        //var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        //currentUser = authState.User;
        //if (SignInManager.IsSignedIn(currentUser))
        //{
        //    UserId = currentUser.FindFirstValue(ClaimTypes.NameIdentifier);
        //}

    }

    protected async Task<PostDto> GetPostById()
    {
        var url = $"{urlBaseAddress}/Posts/{Id}";
        try
        {
            var post = await httpClient.GetFromJsonAsync<PostDto>(url);
            if (post?.Id > 0)
            {
                return post;
            }
            else
            {
                return new PostDto();
            }
        }
        catch (Exception ex)
        {
            logger?.LogError(ex.Message);
            return new PostDto();
        }
    }


    public async Task<bool> AddComment()
    {
        var url = $"{urlBaseAddress}/Posts/AddComment";

        commentModel.BlogUserId = "fauxtix.luix@hotmail.com";
        commentModel.PostId = Id;
        commentModel.Created = DateTime.Now;

        try
        {
            var result = await httpClient.PostAsJsonAsync(url, commentModel);
            var success = result.IsSuccessStatusCode;

            commentModel = new CommentDto();
            await GetPostById();
            Comments = await GetPostComents();
            StateHasChanged();

            return success;
        }
        catch (Exception exc)
        {
            logger?.LogError(exc.Message, $"{L["MSG_ApiError"]}");
            return false;
        }

    }

    protected async Task<IEnumerable<CommentDto>> GetPostComents()
    {
        var url = $"{urlBaseAddress}/Posts/PostComments/{Id}";
        try
        {
            var comments = await httpClient.GetFromJsonAsync<IEnumerable<CommentDto>>(url);
            if (comments.Any())
            {
                StateHasChanged();
                return comments;
            }
            else
            {
                StateHasChanged();
                return Enumerable.Empty<CommentDto>();
            }
        }
        catch (Exception ex)
        {
            logger?.LogError(ex.Message);
            return Enumerable.Empty<CommentDto>();
        }
    }
}

