@page "/admin/lookuptables/displayapplicationtables"
@using DaisyPets.Web.Blazor.Components.Cards
@using Microsoft.Extensions.Localization;


<div class="cards">
    <div class="table-card">
        <LookupTableCard cardContent="Antigamente, a vida dos cães circunscrevia-se às quintas 
                                                                    e era imperativo que os animais tivessem um propósito. Com base nestas definições, 
                                                                    as diversas raças de cães foram divididas em vários grupos e secções. 
                                                                    O conjunto das raças caninas foi redefinida em 1983 por Raymond Triquet. 
                                                                    Este especialista identificou 10 grupos com traços característicos em comum."
                         cardImage="dog-breed.svg" cardTitle="@BreedTitle" tableParam="Raca"></LookupTableCard>
    </div>
    <div class="table-card">
        <LookupTableCard cardContent="Através da observação é possível definir se o seu Pet é entusiasmado, alegre, 
                                                                    ansioso ou até mesmo corajoso. 
                                                                    Por exemplo: cães de tutoras mulheres, castrados e os únicos da casa, são mais medrosos.  
                                                                    Cachorros mais velhos possuem risco maior de desenvolver depressão e animais sem raça definida são mais medrosos e entusiasmados."
                         cardImage="barking_dog.svg" cardTitle="@TemperamentTitle" tableParam="Temperamento"></LookupTableCard>
    </div>
    <div class="table-card">
        <LookupTableCard cardContent="Espécie é um conjunto de populações ou um grupo de organismos que tem potencial para cruzar entre si e produzir descendentes viáveis e férteis. Essa definição é conhecida como conceito biológico de espécie e é uma das mais utilizadas."
                         cardImage="species-2.svg" cardTitle="@SpecieTitle" tableParam="Especie"></LookupTableCard>
    </div>
    <div class="table-card">
        <LookupTableCard cardContent="@SituationTitle"
                         cardImage="dog-house.svg" cardTitle="@SituationTitle" tableParam="Situacao"></LookupTableCard>
    </div>
    <div class="table-card">
        <LookupTableCard cardContent="Tipos de contactos úteis"
                         cardImage="contact-type.svg" cardTitle="@ContactTypeTitle" tableParam="TipoContacto"></LookupTableCard>
    </div>
    <div class="table-card">
        <LookupTableCard cardContent="Uma das maiores preocupações dos donos é de ordem financeira, tendo em conta os gastos que ter um animal de estimação envolve. 

                                                                    De acordo com as contas da Deco Proteste, um cão custa, em média, 1 021 euros por ano, enquanto a despesa anual com um gato ronda os 892 euros.

                                                                    Além das despesas no momento em que decide adotar ou comprar o animal, como por exemplo, o registo e a esterilização, cama, transportadora, trela e coleira, há outras que são recorrentes como alimentação, vacinação, higiene.

                                                                    No que diz respeito à aplicação do microchip, que deve ser aplicado nos primeiros meses de vida do animal, o custo varia. 
Aos cerca de três euros da taxa de registo no SIAC (que é igual para todos os veterinários), soma-se o valor do microchip e do respetivo ato clínico. 
Ou seja, o montante a pagar depende do médico ou clínica onde vai fazer o procedimento."
                         cardImage="expenses.svg" cardTitle="@ExpenseCategoryTitle" tableParam="CategoriaDespesa"></LookupTableCard>
    </div>
</div>

@code {
    [Inject]
    public IStringLocalizer<App> L { get; set; }

    private string? BreedTitle;
    private string? DewormerTitle;
    private string? TemperamentTitle;
    private string? SituationTitle;
    private string? SpecieTitle;
    private string? ContactTypeTitle;
    private string? ExpenseCategoryTitle;
    private string SimpleActiveItem = "./admin/configapptables";


    protected override void OnInitialized()
    {
        BreedTitle = L["Pet_Breed"];
        DewormerTitle = L["Pet_Dewormers"];
        TemperamentTitle = L["TituloTemperamento"];
        SituationTitle = L["TituloSituacao"];
        ContactTypeTitle = L["TituloTipoContacto"];
        ExpenseCategoryTitle = L["TituloCategoriaDespesa"];
        SpecieTitle = L["TituloEspecie"];
    }
}
<style>

    .table-cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        border: 1px solid rgba(0, 0, 0, 0.8);
        gap: 1rem;
    }

    ..table-card {
         background: radial-gradient(#c000, #c0c0);
        margin: 20px;
        font-size:small;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        padding: 20px;
        width: 500px;
        min-height: 200px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.8s;
    }


    .table-card-2 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 50px;
        text-align: center;
    }

    .grid-container {
        display: grid;
        /*        grid-template-columns: auto;*/
        background-color: #2196F3;
        padding: 5px;
    }

    /*    .card {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 30px;
            text-align: center;
        }
    */
    .app-tables {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
</style>
